<a href="https://colab.research.google.com/github/francis-100/python-kaggle/blob/main/pythonai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
print(5+4)
print(5-4)
print(5*4)
print(4/2)
print(5%2)

9
1
20
2.0
1

In [ ]:
# This is a comment
print("We have a comment above!")

We have a comment above!

In [ ]:
test_var = 5 + 4
print(test_var)

9

In [ ]:
test_var2 = 4
test_var3 = test_var2 + 4
print(test_var2)
print(test_var3)

4
8

In [ ]:
# function 1
def add_three(input_var):
  output_var = input_var + 3
  return output_var

In [ ]:
new_number = add_three(4)
print(new_number)

7

In [ ]:
# function 2
def fee_balance(fee_paid):
  remaining_fee = fee_paid - 5000
  return remaining_fee

In [ ]:
fee_to_be_paid = fee_balance(80000)
print(fee_to_be_paid)

75000

In [ ]:
fee_balance(100000)

95000

In [ ]:
def greeting(visitors_name):
  visitors_greeting = "Hello " + visitors_name
  return visitors_greeting

In [ ]:
greeting("Francis")

'Hello Francis'

In [ ]:
def weekly_wages(hours_worked):
  pay_before_tax = (hours_worked * 15)
  pay_after_tax = pay_before_tax * .88
  weekly_paycheck = pay_after_tax
  return weekly_paycheck

In [ ]:
weekly_wages(40)

528.0

In [ ]:
def weekly_wages2(hours_worked, pay_hourly):
  pay_before_tax = (hours_worked * pay_hourly)
  pay_after_tax = pay_before_tax * .88
  weekly_paycheck = pay_after_tax
  return weekly_paycheck

In [ ]:
weekly_wages2(40, 15)

528.0

In [ ]:
# Function with no arguments and no return
def hello():
  print("Hello Francis!")
  print("How are you doing today?")

In [ ]:
hello()

Hello Francis!
How are you doing today?

In [ ]:
# Data types
x = 3
y = 4.
print(x)
print(y)
print(type(x))
print(type(y))

3
4.0
<class 'int'>
<class 'float'>

In [ ]:
# Rounding off
pi = 3.14285714285
new_pi = (round(pi, 3))
print(new_pi)

3.143

In [ ]:
# Print length of a string
name = "Francis"
print(len(name))

7

In [ ]:
# Turn a number to float
x = 3
print(float(x))

3.0

In [ ]:
# Concatination
print("John " + "Doe")
print("hello " * 3)

John Doe
hello hello hello

In [1]:
# Conditional statements
print(2<4)
print(1==5)

True
False

In [3]:
# If statement
def patient_status(temp):
  message = "Normal temperature"
  if temp > 38:
    message = "Fever"
  return message

In [8]:
patient_status(37)

'Normal temperature'

In [7]:
patient_status(39)

'Fever'

In [9]:
# If else statement
def blood_donation_checker(weight):
  if weight > 50:
    message = "Fit to donate blood"
  else:
    message = "Sorry!Not fit to donate blood"
  return message

In [11]:
patient_a = blood_donation_checker(45)
patient_b = blood_donation_checker(79)
print(patient_a)
print(patient_b)

Sorry!Not fit to donate blood
Fit to donate blood

In [18]:
def graduation_system(student_gpa):
  if student_gpa > 70:
    message = "First Class Honors"
  elif student_gpa > 60:
    message = "Second Class Upper Honors"
  elif student_gpa > 50:
    message = "Second Class Lower"
  else:
    message = "Pass"
  return message

In [19]:
graduant_a = graduation_system(77)
graduant_b = graduation_system(65)
graduant_c = graduation_system(54)
graduant_d = graduation_system(43)

print(graduant_a)
print(graduant_b)
print(graduant_c)
print(graduant_d)

First Class Honors
Second Class Upper Honors
Second Class Lower
Pass

In [20]:
def get_taxes(earnings):
  if earnings > 24000:
    tax = earnings * .35
  elif earnings > 12000:
    tax = earnings * .30
  else:
    tax = earnings * .25
  return tax

In [22]:
print(get_taxes(30000))
print(get_taxes(19000))
print(get_taxes(5500))

10500.0
5700.0
1375.0

In [64]:
# Python lists
super_cars = ["Rolls Royce" , "Lambourghini", "Maybach", "Buggati", "Ferrari", "Porsche", "Tesla", "Aston Martin"]

print(super_cars)

# Python indexing
print(super_cars[0])
print(super_cars[3])
print(super_cars[7])

# check type and length
print(type(super_cars))
print(len(super_cars))

['Rolls Royce', 'Lambourghini', 'Maybach', 'Buggati', 'Ferrari', 'Porsche', 'Tesla', 'Aston Martin']
Rolls Royce
Buggati
Aston Martin
<class 'list'>
8

In [65]:
# list slicing
print("First three cars: " , super_cars[:3])
print("Last two cars: " , super_cars[-2:])

First three cars:  ['Rolls Royce', 'Lambourghini', 'Maybach']
Last two cars:  ['Tesla', 'Aston Martin']

In [66]:
# list append
print(super_cars)
super_cars.append("Range Rover")
print(super_cars)

['Rolls Royce', 'Lambourghini', 'Maybach', 'Buggati', 'Ferrari', 'Porsche', 'Tesla', 'Aston Martin']
['Rolls Royce', 'Lambourghini', 'Maybach', 'Buggati', 'Ferrari', 'Porsche', 'Tesla', 'Aston Martin', 'Range Rover']

In [67]:
# list remove
print(super_cars)
super_cars.remove("Aston Martin")
print(super_cars)

['Rolls Royce', 'Lambourghini', 'Maybach', 'Buggati', 'Ferrari', 'Porsche', 'Tesla', 'Aston Martin', 'Range Rover']
['Rolls Royce', 'Lambourghini', 'Maybach', 'Buggati', 'Ferrari', 'Porsche', 'Tesla', 'Range Rover']

In [75]:
# Operations on lists
marks_awarded = [94, 86, 75, 63, 57, 45]
print(marks_awarded)
print("Mininum marks awarded is:", min(marks_awarded))
print("Maxinum marks awarded is:", max(marks_awarded))
print("Total marks awarded is:", sum(marks_awarded))
print("Average marks of the first three students is:", sum(marks_awarded[:3])/3)
print("Average marks of the last two students is:", sum(marks_awarded[-2:])/3)

[94, 86, 75, 63, 57, 45]
Mininum marks awarded is: 45
Maxinum marks awarded is: 94
Total marks awarded is: 420
Average marks of the first three students is: 85.0
Average marks of the last two students is: 34.0