<a href="https://colab.research.google.com/github/francis-100/python-kaggle/blob/main/pythonai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
print(5+4)
print(5-4)
print(5*4)
print(4/2)
print(5%2)

9
1
20
2.0
1

In [ ]:
# This is a comment
print("We have a comment above!")

We have a comment above!

In [ ]:
test_var = 5 + 4
print(test_var)

9

In [ ]:
test_var2 = 4
test_var3 = test_var2 + 4
print(test_var2)
print(test_var3)

4
8

In [ ]:
# function 1
def add_three(input_var):
  output_var = input_var + 3
  return output_var

In [ ]:
new_number = add_three(4)
print(new_number)

7

In [ ]:
# function 2
def fee_balance(fee_paid):
  remaining_fee = fee_paid - 5000
  return remaining_fee

In [ ]:
fee_to_be_paid = fee_balance(80000)
print(fee_to_be_paid)

75000

In [ ]:
fee_balance(100000)

95000

In [ ]:
def greeting(visitors_name):
  visitors_greeting = "Hello " + visitors_name
  return visitors_greeting

In [ ]:
greeting("Francis")

'Hello Francis'

In [ ]:
def weekly_wages(hours_worked):
  pay_before_tax = (hours_worked * 15)
  pay_after_tax = pay_before_tax * .88
  weekly_paycheck = pay_after_tax
  return weekly_paycheck

In [ ]:
weekly_wages(40)

528.0

In [ ]:
def weekly_wages2(hours_worked, pay_hourly):
  pay_before_tax = (hours_worked * pay_hourly)
  pay_after_tax = pay_before_tax * .88
  weekly_paycheck = pay_after_tax
  return weekly_paycheck

In [ ]:
weekly_wages2(40, 15)

528.0

In [ ]:
# Function with no arguments and no return
def hello():
  print("Hello Francis!")
  print("How are you doing today?")

In [ ]:
hello()

Hello Francis!
How are you doing today?

In [ ]:
# Data types
x = 3
y = 4.
print(x)
print(y)
print(type(x))
print(type(y))

3
4.0
<class 'int'>
<class 'float'>

In [ ]:
# Rounding off
pi = 3.14285714285
new_pi = (round(pi, 3))
print(new_pi)

3.143

In [ ]:
# Print length of a string
name = "Francis"
print(len(name))

7

In [ ]:
# Turn a number to float
x = 3
print(float(x))

3.0

In [ ]:
# Concatination
print("John " + "Doe")
print("hello " * 3)

John Doe
hello hello hello